/* VARIABLES (COLORS) */
:root {
  --text: rgb(249, 249, 251);
  --background: rgb(18, 17, 29);
  --primary: rgb(99, 70, 119);
  --secondary: rgb(22, 13, 22);
  --accent: rgb(151, 89, 145);
}

.navbar {
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  background-color: var(--background);
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--text);
}

.nav-links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  background-color: var(--background);
}

input[type="checkbox"] {
  display: none;
}

.ham {
  display: none;
  cursor: pointer;
  color: var(--text);
}

.ham::before {
  content: "Menu";
}

@media (max-width: 768px) {
  .ham {
    display: block;
  }
  .navbar {
    position: relative;
  }
  .nav-links {
    position: absolute;
    right: 0;
    left: 0;
    top: 3.6rem;
    flex-direction: column;
    padding: 1rem 2rem;
    row-gap: 0.8rem;
    align-items: flex-start;
    display: none;
  }
  input[type="checkbox"]:checked ~ .nav-links {
    display: flex;
  }
  input[type="checkbox"]:checked ~ .ham::before {
    content: "Close";
  }
}
@media (max-width: 425px) {
  .navbar {
    padding: 0rem 1rem;
  }
  .nav-links {
    padding: 1rem 1rem;
  }
}
